.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/*.wadah {
border: solid 1px;
border-radius: 1px;
}*/

.wadah:hover{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  transform: scale(1.02);
  
}

.follower .img:hover{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  transform: scale(1.02);
}

.row .coverdilan:hover{
  transform: scale(1.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  overflow: hidden;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

/*.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}*/

@import url(https://fonts.googleapis.com/css?family=Neuton:300,400,700,400italic);

body {  
font-family: 'Poppins', sans-serif;                                                                                                      
}

p {
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 300;
    color: #777;
    margin: 30px 0;
}

strong {
    font-weight: 600;
    color: #333;
}

/*a {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}*/

h6  {
  font-size: 15px;
}

figure.book {
  margin: 0 5px 5px 0;
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}

.book h2, 
.book p {
  margin: 0;
  font-size: 15px;
}

.book h2 {
  font-weight: 700;
  font-size: 18px;
  color: rgba(0,0,0,.75);
  margin-top: 20px;
}

.book .author {
  font-size: 16px;
  margin-top: 5px;
  color: rgba(0,0,0,.55);
  font-weight: 400;
}

.navbar {
  height: 65px;
}
.cover {
  display: inline-block;
  position: relative;
  box-shadow: 0 10px 20px -8px;
  margin-right: 20px;
}

.cover:after {
  content: '';
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  
  box-shadow: inset 1px 0 rgba(0,0,0,.25), 0 1px rgba(0,0,0,.25);
}





.cover img {
  height: 200px;
  display: block;
  position: relative;
}

.footer_head{
  border: solid;
  border-width: 1px;
  border-color: #b3b3cc;

}

/*.advt {
  border: solid;
  border-width: 1px;
}*/

/*countdown*/
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

.mod-countdown {
  font-size: 14px;
  border:solid 1px;
  text-align:center;
  width:240px;
  padding:5px;
  border-radius:10px;
  background-color: #FFC800;
 }
  
  .judul {
    display: inline-block;
  }
  
  .primary {
    display: inline-block;
    margin: 0 2px 0 0;
  }
  
  .days {
    
    .count {
      font-size: 14px; 
      line-height: 0.60em;
    }
    
    .label {
       /*font-size: 10px;*/
    }
    
  }
  
  .secondary {
    display: inline-block;
    margin: 0 2px 0 0;
    
    .count {
      display: inline-block;
      font-size: 20px;
      /*// line-height: 0.75em;*/
    }
    
  }
  
}
